<!-- app/views/welcome/index.html.erb -->

<!DOCTYPE html>
<html>
<head>
  <title>SLURM - We're too lazy to come up with a slogan!</title>
</head>
<body>

<div id="main-container" class="container">
  <div class="row">
    <div class="col-xs-3">
      <h3>Slurm Orders Home</h3>
    </div>
    <div class="col-xs-9">
      <%= link_to 'New Order', orders_path, class: 'btn btn-success' %>
    </div>
  </div>
</div>

</body>
</html>