<!-- app/views/welcome/index.html.erb -->

<!DOCTYPE html>
<html>
<head>
  <title>SLURM - We're too lazy to come up with a slogan!</title>
</head>
<body>

<div id="main-container" class="container">
  <div class="row">
    <div class="col-xs-3">
      <h3>Slurm - Home</h3>
      <div class="col-xs-3">
        <%= link_to 'See Orders', order_path, class: 'btn btn-link' %>
      </div>
    </div>
  </div>
</div>

</body>
</html>