<!-- app/views/orders/new.html.erb -->

<!DOCTYPE html>
<html>
<head>
  <title>SLURM - We're too lazy to come up with a slogan!</title>
</head>
<body>

    <h1>New Order</h1>

    <%= render 'form' %>

    <%= link_to 'Back', orders_path %>

</body>
</html>
