// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

thead th {
  background-color: #1155CC;
  color: white;
  min-width: 100px;
}

th:first-child {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

th:last-child {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}